body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(img/bg1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
        background: rgba(77, 27, 27, 0.2);
        width: 300px;
        height: 300px;
        border-radius: 7%;
        align-items: center;
        text-align: center;
        color: #000000;
}

button {
        background-color: rgb(176, 95, 153,0.4);
        border-radius: 10px;
}

@media screen and (max-width: 600px) {
        body{
                width: 100%;
        }
}